
.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--background-cards);
    border-radius: var(--border-radius-3);
    margin: 1rem;
   
  }