<div class="primary-header wrapper" data-width="wide">
  <div>
    <a [routerLink]="['/calculators']">
      <img class="logo" src="/logo.png" alt="Logo"
    /></a>
  </div>

  <div class="center">
    <span class="visually-hidden">Menu</span>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>

  <div class="the-nav" [class.open]="isMenuOpen">
    <ul>
      <li role="list">
        <a
          [routerLink]="'/calculators'"
          routerLinkActive="active"
          class="nav-item"
          [ngClass]="{ 'closed-color': isMenuOpen, 'open-color': !isMenuOpen }"
           (click)="closeMenu()"
        >
          Lista de calculadoras
        </a>
      </li>
    </ul>
  </div>
</div>


