.calc-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


.calc-button:disabled {
    background-color: #ccc; /* Color de fondo más gris */
    color: #888; /* Texto más tenue */
    cursor: not-allowed; /* Cambia el cursor */
    opacity: 0.6; /* Hace que se vea más apagado */
  }
  