.calc-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

  .calc-symbol {
    font-size: var(--font-size-lg);
    margin-bottom: 1rem;
  }

  .error-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;  
  }
  
 

  .calc-form {
    max-width: 50vw; 
    padding: 2rem;
    border-radius: var(--border-radius-2);
    background-color: var(--background-main);    
  }

  .calc-button{
    margin-top: 1rem;
  }
  
  @media (max-width: 1200px) {
    .calc-form {
      max-width: 60vw; 
      padding: 1.5rem;
    }
  
  
  }

  @media (max-width: 900px) {
    .calc-form {
      max-width: 75vw;
      padding: 1.2rem;
    }
  
   
  }

  @media (max-width: 600px) {
    .calc-form {
      max-width: 90vw;
      padding: 1rem;
    }
  
  
  
    .calc-symbol {
      font-size: var(--fs-500);
    }
  }
  