<form [formGroup]="calculatorForm">
  <div class="calc-form flow">
    <div>
      <label>
        Número A:
        <input class="input" type="number" formControlName="numberA" />
      </label>

      <div id="errorA" class="error-container">
        @if (calculatorForm.get('numberA')?.touched &&
        calculatorForm.get('numberA')?.hasError('required')) {
        <small class="alert-form">Número A es obligatorio.</small>
        }
      </div>
    </div>

    <div>
      <p class="calc-symbol">{{ calculator?.symbol }}</p>
    </div>

    <div>
      <label>
        Número B:
        <input class="input" type="number" formControlName="numberB" />
      </label>
      <div id="errorA" class="error-container">
        @if (calculatorForm.get('numberB')?.touched &&
        calculatorForm.get('numberB')?.hasError('required')) {
        <div id="errorB">
          <small class="alert-form">Número B es obligatorio.</small>
        </div>
        }
      </div>
    </div>

    <div>
      <p class="calc-symbol">=</p>
    </div>

    <div>
      @if (active) {
      <button
        type="button"
        class="button primary-button"
        (click)="calculate()"
        [disabled]="calculatorForm.invalid"
      >
        Calcular
      </button>
      } @else {
      <div class="result flow">
        @if (result !== undefined) {
        <p>Resultado: {{ result }}</p>
        <button class="button secondary-button" (click)="reset()">RESET</button>
        }
      </div>
      }
    </div>
  </div>
</form>
