.calc {

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.calc-button{
    margin-top: 3rem;
    
}

.button-margin{
    margin-bottom: 1rem;
}

.calc-title {
    margin-bottom: 3rem;
  }